@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
body{
    background-color: lightslategray;
    font-family: 'Iceberg', cursive;;
   
}
img{
    width: 350px;
}
a{
    
    font-family: 'Faster One', cursive;;
}
h1{
    font-family: 'Rubik Gemstones', cursive;;
}